



h1, h2, p, img {
	
	position: relative;
	top: 50px;
	text-align: left ;
}


nav {

	
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

ul {

	position: relative;
	top: -8px;
}

li {
	float: left;
	display: inline;
	width: 370px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    margin: -10px;
    text-decoration: none;
}


body {
	background-image: linear-gradient(rgb(37, 159, 240), rgb(25, 131, 236));
	background-repeat: no-repeat;
	background-attachment: fixed;
}




body {
	height: 100%;
}




h1 {
	font-family: Courier New;


}



p {
	font-family: courier new;
	margin-left: 500px;
	margin-right: 500px;
	position: relative;
	top: -150px;


}



.position {
	display : block;
	margin-right: auto;
	width: 15%;
	border: 10px solid green;
}

.penguin {

	display : block;
	margin-right: auto;
	width: 15%;
	border:10px solid blue;

}

.navbar {
	
	font-family: Times New Roman ;

}

