



h1, p, img {
	
	position: relative;
	top: 200px;
	text-align: center;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul {

	position: relative;
	top: -8px;
}

li {
	float: left;
	display: inline;
	width: 370px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    margin: -10px;
    text-decoration: none;
}


body {
	background-image: linear-gradient(rgb(0, 127, 174), rgb(58, 0, 174));
	background-repeat: no-repeat;
	background-attachment: fixed;
}




body {
	height: 100%;
}




h1 {
	font-family: Courier New;


}



p {
	font-family: courier new;

}



.position {
	display : block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}